@font-face {
    font-family: 'nevis';
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
         url("fonts/nevis.woff") format("woff"),
         url("fonts/nevis.ttf") format("truetype"),
         url("fonts/nevis.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(imgs/paven.png);
}

.header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

.header a {
    text-decoration: none;
}

.header_container-logo {
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

.header_img-logo {
   display: block;
   text-align: center;
   margin: 0px auto;
   width: 140px;
}

.header_title {
    text-align: center;
    font-size: 40px;
    font-family: nevis;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333 ;
    transition: all 300ms;
}

.header_title:hover {
    text-shadow: 0px 2px 1px #333, 0px 0px 4px #70b231;
}

.header_title a {
    color: #70b231
}

.nav {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}

.nav_list {
    width: 1130px;
    margin: 0px auto;
    list-style: none;
    text-decoration: none;
}

.nav_item {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: background-color 300ms, box-shadow 300ms;
}

.nav_link {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.nav_item--fisrt {
    border-left: 1px solid gray;
}

.nav_item:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px gray inset;
}

.nav_list--popover{
    display: none;
    position: absolute;
    background-color: #333;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
}

.nav_item:hover .nav_list--popover {
    display: block;
}

.nav_item:hover .nav_list--popover > li {
    transition: background-color 300ms;
}

.nav_item:hover .nav_list--popover > li:hover {
    background-color: #70b231;
}
